# MARKDOWN

### INSERT SITE ADDRESS
[site](https://en.wikipedia.org/wiki/Aristotle)

### INSERT IMAGE
![text](https://cms.qz.com/wp-content/uploads/2019/04/planetearth.jpeg?quality=75&strip=all&w=410&h=231)

### CREATING ORDERED LIST
    1.Python is a beginers language.
    2.it is easier to learn.

### CREATING AN UNORDERED LIST
- This in an unorderd list.
- It does not form a sequential order.

### STYLES
   *italics*
   **bold**
   ~~strtked~~

# PYTHON BASICS

In [2]:
#to print a word
print("hello world")

hello world

In [3]:
#to add two numbers by assigning variables
a=10
b=20
a+b

30

### RULES FOR VARIABLES
- Name should begin with a character
- no special characters allowed except _

In [5]:
name="josh"
cash="20000K"
print("his name is",name,"he got",cash,"cash rn")

his name is josh he got 20000K cash rn

In [6]:
name=input("enter name")
age=int(input("enter age"))
print("my name is",name,"I am",age,"years old")

enter namezafeer
enter age21
my name is zafeer I am 21 years old

In [10]:
x=int(input("enter x"))
y=int(input("enter y"))
print("sum is",x+y)
print("subtraction is",x-y)
print("multiplication is",x*y)
print("division is",x/y)
print("% is",x%y)

enter x20
enter y10
sum is 30
subtraction is 10
multiplication is 200
division is 2.0
% is 0

### FUNDAMENTAL DATATYPES:
- Int
- Float
- Complex
- Boolean
- String

In [17]:
x=10
y=13.3
z=12+2j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [18]:
c=complex(2,5)
print(c)

(2+5j)

In [19]:
c1= 3+5j
c2= 5+2j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(8+7j)
(-2+3j)
(5+31j)

In [20]:
# boolean
x=9
y=2
x<y

False

In [21]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
fl=float(i)
print(type(fl))

<class 'int'>
<class 'str'>
<class 'float'>

In [23]:
a="1234"
print(a)
print(type(a))

1234
<class 'str'>

In [24]:
a="231421"
print(len(a))

6

In [25]:
a1=100
a=b=c=12
d,e,f=12,34,654
print(a1)
print(a,b,c)
print(d,e,f)

100
12 12 12
12 34 654

### OPERATORS
##### ARITHMETIC OPERATORS
- +
- -
- *
- /
- %
- **
- //

In [33]:
a=19
b=6
a//b

3

#### RELATIONAL OPERATORS
- ==
- !=
- <
- (>)
- <=
- (>=)

#### LOGICAL OPERATORS
- and
- or 
- not

#### MEMBERSHIP OPERATORS
- in
- not in

In [34]:
str1= "abc"
print('a' in str1)
print('a' not in str1)

True
False

### CONTROL FLOW STATEMENTS
- Conditional statements
- Looping statements
- if-else statements
- syntax:
  >if condition:
  >>statements
- >else:
  >>statements

In [39]:
# check if a number is even or odd
n=int(input("enter a number"))
if n%2==0:
 print("even")
else:
 print("odd")

enter a number23
odd

In [41]:
n=int(input("enter a number"))
if n%3==0 and n%5==0:
 print("yes")
else:
 print("no")

enter a number15
yes