# COLLECTION OF DATATYPES:
1. List
2. Tuple
3. Set 
4. Dictionary

### LIST
- One of the data structures in python.
- Data structures are means to store, sort and search options
- it's a common data structure in python; items of the list are separeted by comma and enclosed by square brackets.

###### example
- list1=[1,2,3,4]
- list2=["gitam",1,2,3]

In [18]:
li = [1,3,34,23,32]
print(li[2])
print(li[-3])
print(li)
print(li[2:])
print(li[2:4])
print(li[1:-1])

34
34
[1, 3, 34, 23, 32]
[34, 23, 32]
[34, 23]
[3, 34, 23]

In [25]:
li = ["gitam",23,32,"hyd"]
print(li [0][2])
del li[2]
print(li)

t
['gitam', 23, 'hyd']

In [26]:
#update
li[1]=1234
print(li)

['gitam', 1234, 'hyd']

In [34]:
li = [1,3,34,23,32]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

34
1
93
5
18

In [40]:
li = [1,3,34,23,32,1]
li.append(80)
print(li)
li.insert(2,50)
print(li)
li.count(1)

[1, 3, 34, 23, 32, 1, 80]
[1, 3, 50, 34, 23, 32, 1, 80]

2

In [43]:
li = [1,3,34,23,32,1]
li.index(23)

3

In [45]:
li = [1,3,34,23,32,1]
li.sort()
print(li)

[1, 1, 3, 23, 32, 34]

In [48]:
li = [1,3,34,23,32,1]
li.pop(2)
print(li)
li.pop()
print(li)

[1, 3, 23, 32, 1]
[1, 3, 23, 32]

###### pop-removes the last index value
###### del-deletes the given index value
###### pop(index)-deletes the specified index value

In [56]:
li = [1,3,34,23,32,1]
li1 = [4,66,46,2314]
li.extend(li1)
print(li)
li.reverse()
li

[1, 3, 34, 23, 32, 1, 4, 66, 46, 2314]

[2314, 46, 66, 4, 1, 32, 23, 34, 3, 1]

In [59]:
#function to return the largest number
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,32,45,74,12,34,56]
print(largenumber(li))
print(genericlarge(li,2))

74
56

In [62]:
#function to return the smallest number
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    print(li)
    return li[n]
li=[19,32,45,74,12,34,56]
print(smallnumber(li))
print(genericsmall(li,2))

12
[12, 19, 32, 34, 45, 56, 74]
32

### TUPLE
- It's a common data structure in python; items of the tuple are separeted by comma and enclosed by brackets().
###### example:
t1=(1,2,3,4,5)

#### LIST AND TUPLE
- Lists are mutable -can be changed or modified.
- Lists can be used to modify, add, delete,update.
- tuple are immutable -cannot be changed.
- tuple used to access data only.

In [63]:
ti = (1,32,42,1231)
ti

(1, 32, 42, 1231)

### DICTIONARIES
1. It works on concept of set unique data.
2. Dictionary contains keys and values.
3. Each key and value separated by comma.
4. Each key is separated from its value with a colon(:)
5. enclosed in {} use [] for calling.

In [66]:
di = {"name":"gitam","email":"gitam@in","address":"hyderabad"}
di

{'name': 'gitam', 'email': 'gitam@in', 'address': 'hyderabad'}

In [71]:
di["name"]

'gitam'

In [72]:
# update
di = {"name":"gitam","email":"gitam@in","address":"hyderabad"}
di['name']='ajay'
di

{'name': 'ajay', 'email': 'gitam@in', 'address': 'hyderabad'}

In [74]:
# add a key value
di['roll_no']='221710311042'
di

{'name': 'ajay',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'roll_no': '221710311042'}

In [75]:
di.keys()

dict_keys(['name', 'email', 'address', 'roll_no'])

In [77]:
di.values()

dict_values(['ajay', 'gitam@in', 'hyderabad', '221710311042'])

In [79]:
di.items()

dict_items([('name', 'ajay'), ('email', 'gitam@in'), ('address', 'hyderabad'), ('roll_no', '221710311042')])

### STRINGS:

In [81]:
python="HELLO"
print(python)

HELLO

In [85]:
python="HELLO"
print(python[0])

H

In [93]:
python="HELLO"
print(len(python)-2)
print(python[len(python)-2])
print(python[1:-1])
print(python[len(python)//2])
print(python[::-1]) #reverse

3
L
ELL
L
OLLEH

# STRING BUILT IN METHODS:
- Upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [102]:
py="aniket"
print(py.upper())
print(py.lower())
print(py.isupper())
print(py.islower())
print(py.istitle())
print(py.isnumeric())
print(py.isalpha())
s1=" "
print(s1.isspace())

ANIKET
aniket
False
True
False
False
True
True

### STRING METHODS:
- join()
- split()
- replace()

In [104]:
s1="python"
print("    ".join(s1))

p    y    t    h    o    n

In [111]:
s1="josh rich"
print(s1.split())

['josh', 'rich']

In [116]:
s1="python"
print(s1.replace("on","ogron"))

pythogron